@charset "UTF-8";


#table_expendable{
	width: 500px; 
	margin-left:30px;
	margin-right:30px;
	margin-top: 50px;

}

#graph_expendable{
	width : 500px;
	margin-left:30px;	
	margin-right:30px;
	margin-top: 50px;
	
}
