<?xml version="1.0" encoding="UTF-8"?>
        <manifest package="multi.connect.smartcar"
            xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:tools="http://schemas.android.com/tools">
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
        <uses-permission android:name="android.permission.READ_OWNER_DATA"/>
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.RECORD_AUDIO"/>
        <application
            android:usesCleartextTraffic="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:supportsRtl="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="true">
        <activity android:name=".fcm.MsgActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:targetApi="lollipop"/>

        <activity android:name=".BackGroundActivity"/>
        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                     <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

            <service android:name=".fcm.FCMService" android:enabled="true" android:exported="true">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                </intent-filter>
            </service>
        </application>
    </manifest>